DATABASE_URL="mongodb://root:password@host.docker.internal:27017,host.docker.internal:27018,host.docker.internal:27019/chat_system?replicaSet=rs0&authSource=admin"
RABBITMQ_URL="amqp://admin:password@localhost:5672"
SERVER_PORT=3000
SERVER_PATH='/_socketio/'
AUTH_SECRET="xxxxxx"
